html {
	height: 100%;
	width: 100%;
}
body{
	background: lightblue;
	min-height: 100%;
	min-width: 100%;
	font: 14px "Century Gothic", Futura, sans-serif;
}

.background {
	background-color: white;
	width: 800px;
	margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.list-item:hover {
	background: lightgreen;
}

.recipy-vew {
	background: lightblue;
	height: 300px;
	width: 100%;
}

.list-delete{
	float: right;
	border:1px solid black;
}
.list-delete:hover {
	background: red;
}

.list-title{
	float: left;
	margin-top: -12px;
	margin-left: -12px;
	margin-bottom: -12px;
	padding-bottom: 26px;
	width:90%;
}